<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-11-12T21:42:50Z</date>
	<key>WorkspacePath</key>
	<string>/Users/evanzhao/code/xcode_final_project/Final-Project 4.37.09 PM/Final Project.xcodeproj</string>
</dict>
</plist>
